version: '3.9'
services:
  nordvpn:
    build: 
      context: .
      dockerfile: ./Dockerfile
    image: skrjtech/nordvpn:arm64-ubuntu22.04
    container_name: nordvpn_con
    tty: true
    restart: always
    network_mode: host
    privileged: true
    environment:
      - NORDVPN_TOKEN=${TOKEN}